/*補足説明[memo]*/
.memo {
  margin-bottom: 1.5em;
  padding: 1em;
  background: #fff9e5;
  color: #545454;
}
.memo_ttl {
  margin-bottom: 5px;
  color: #ffb36b;
  font-size: 1.2em;
  font-weight: bold;
}
.memo_ttl:before {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0 3px 0 0;
  border-radius: 50%;
  background: #ffb36b;
  color: #fff;
  font-family: FontAwesome;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  content: "\f040";
}
.fa5 .memo_ttl:before {
  content: "\f303";
  font-size: 17px;
}
.memo p {
  margin: 0 0 5px;
}

/*注意説明 [alert]*/
.memo.alert {
  background: #ffebeb;
}
.memo.alert .memo_ttl {
  color: #ff8376;
}
.memo.alert .memo_ttl:before {
  background: #ff8376;
  content: "\f12a";
}

/*引用別スタイル*/
.entry-content .quote_silver {
  padding: 35px 1.5em;
  border: none;
  background: whitesmoke;
}
.entry-content .quote_silver:before {
  top: 10px;
  left: 15px;
  color: #dadada;
}
.entry-content .quote_silver:after {
  position: absolute;
  right: 15px;
  bottom: 10px;
  color: #dadada;
  font-family: FontAwesome;
  font-size: 25px;
  line-height: 1;
  content: "\f10e";
}

/** ショートコード **/
/*texton*/
.textimg {
  position: relative;
  margin: 0 0 1.5em;
}
.textimg img {
  width: 100%;
}
.textimg p {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 15px;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  line-height: 1.3;
  transform: translateY(-50%);
}

/*線を引く*/
.entry-content hr {
  margin: 3em 0;
  border: solid 3px #dadada;
  border-width: 2px 0 0 0;
}
.entry-content hr.dotted {
  border-top: dotted 2px #dadada;
}

/** その他のスタイル・装飾 **/
.orange {
  color: #ffb36b;
}
.green {
  color: #75c375;
}
.blue {
  color: #6bb6ff;
}
.red {
  color: #ee7b7b;
}
.silver {
  color: silver;
}
.keiko_blue {
  background: linear-gradient(transparent 50%, rgba(107, 182, 255, 0.24) 50%);
}
.keiko_yellow {
  background: linear-gradient(transparent 50%, rgba(255, 252, 107, 0.69) 50%);
}
.keiko_green {
  background: linear-gradient(transparent 50%, rgba(151, 232, 154, 0.69) 50%);
}
.keiko_red {
  background: linear-gradient(transparent 50%, rgba(255, 88, 88, 0.24) 50%);
}

/*画像のサイズ*/
.nospace {
  margin: 0 !important;
}